.left-section {
  padding: 30px 127px 30px 147px;
}

nav {
  margin: 0;
}

.logo {
  max-width: 106px;
  max-height: 24px;
}

h1 {
  margin-top: 80px;
  font-weight: 500;
  font-size: 44px;
  line-height: 58px;
}

h3 {
  margin: 60px 0 20px 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
}

h1 ~ p {
  margin-top: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #8c8c8c;
}