.page-layout {
  border-radius: 20px;
  position: relative;
  height: 100%;
  background: #ffffff;
  padding: 20px 0;
  overflow: hidden;
}
.search {
  font-size: 20px;
  line-height: 29px;
  color: #8c8c8c;
  padding: 20px 20px 0 20px;
  span {
    font-weight: 500;
    color: #1d1d1d;
  }
}
