.page-header {
  display: flex;
  justify-content: space-between;
  height: 40px;
  padding: 0 20px;
}

.navigation-block {
  display: flex;
  justify-content: space-between;
}

.view-settings-block {
  display: grid;
  grid-template-columns: 226px 101px 40px 40px;
  column-gap: 10px;
}

.btn {
  height: 100%;
  &_prev {
    width: 40px;
  }
  &_label {
    min-width: 143px;
    margin: 0 10px;
  }
  &_label-breed-id {
    min-width: 143px;
  }
  &_upload {
    width: 143px;
  }
  &_sort {
    width: 40px;
  }
}
