.breeds-info {
  position: relative;
  width: 100%;
  margin-top: 51px;
  border: 2px solid #fbe0dc;
  border-radius: 20px;
  padding: 0 40px 40px 40px;
  & h2 {
    position: absolute;
    top: -31px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    font-size: 36px;
    line-height: 52px;
    color: #1d1d1d;
    background-color: #fff;
    padding: 5px 40px;
  }
  & p {
    font-weight: 500;
    color: #8c8c8c;
    text-align: center;
    margin-top: 26px;
  }
  & .table {
    display: grid;
    grid-template: repeat(3, auto) / repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 30px;
    margin-top: 20px;
    font-size: 16px;
    line-height: 23px;
    color: #1d1d1d;
    & div:first-child {
      grid-row: 1 / 4;
      & span {
        display: block;
      }
    }
    & span {
      font-weight: 500;
    }
  }
}
