.log-item {
  display: grid;
  grid-template-columns: 90px auto 60px;
  width: 100%;
  height: 100%;
  background: #f8f8f7;
  border-radius: 10px;
  overflow: hidden;
  .time {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    color: #1d1d1d;
    margin: 15px;
    background: #fff;
    border-radius: 5px;
  }
  .text {
    display: flex;
    flex: 0 1 100px;
    justify-content: left;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    color: #8c8c8c;
    padding: 0 5px;
    span {
      font-weight: 500;
      color: #1d1d1d;
      padding: 0 5px;
    }
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    span {
    font-size: 20px;
    color: #FF868E;
    }
  }
}
