@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4ll3ed');
  src:  url('fonts/icomoon.eot?4ll3ed#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4ll3ed') format('truetype'),
    url('fonts/icomoon.woff?4ll3ed') format('woff'),
    url('fonts/icomoon.svg?4ll3ed#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e900";
}
.icon-close:before {
  content: "\e901";
}
.icon-dislike:before {
  content: "\e902";
}
.icon-dropdown:before {
  content: "\e905";
}
.icon-error:before {
  content: "\e906";
}
.icon-fav:before {
  content: "\e908";
}
.icon-fav-filled:before {
  content: "\e90a";
}
.icon-like:before {
  content: "\e90b";
}
.icon-search:before {
  content: "\e90f";
}
.icon-sort-revert:before {
  content: "\e904";
}
.icon-sort:before {
  content: "\e903";
}
.icon-success:before {
  content: "\e914";
}
.icon-update:before {
  content: "\e915";
}
.icon-upload:before {
  content: "\e916";
}