@import './fonts.css';

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
}

body {
  background: #F8F8F7;
}

a {
  text-decoration: none;
  color: unset;
}