$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-sort: "\e903";
$icon-sort-reverse: "\e904";
$icon-back: "\e900";
$icon-close: "\e901";
$icon-dislike: "\e902";
$icon-dropdown: "\e905";
$icon-error: "\e906";
$icon-fav: "\e908";
$icon-fav-filled: "\e90a";
$icon-like: "\e90b";
$icon-search: "\e90f";
$icon-success: "\e914";
$icon-update: "\e915";
$icon-upload: "\e916";

