.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #ff868e;
  cursor: pointer;
  padding: 0 15px;
  &.white {
    background: #fff;
    &:hover {
      background: #fbe0dc;
    }
    &.disabled {
      cursor: default;
      &:hover {
        background: #fff;
      }
    }
  }
  &.active {
    background: #ff868e;
    color: #fff;
  }
  &.light {
    background: #fbe0dc;
    &:hover {
      background: #ff868e;
      color: #fff;
    }
    &.disabled {
      cursor: default;
      background: #fbe0dc;
      color: #ff868e;
    }
  }
  &.dark {
    background: #ff868e;
    color: #fff;
    &.disabled {
      cursor: default;
    }
  }
  &.gray {
    background: #f8f8f7;
    color: #8c8c8c;
    &:hover {
      background: #f8f8f7;
      border: 2px solid #fbe0dc;
      color: #ff868e;
    }
  }
  &.mute {
    cursor: default;
    &:hover {
      background: #ff868e;
    }
  }
}
