.gallery-navigation {
  position: absolute;
  display: grid;
  grid-template: repeat(auto-fit, 10px) / repeat(auto-fit, 10px);
  gap: 5px;
  height: 30px;
  max-width: 80%;
  top: calc(360px - 15px);
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 20px;
  background: #fff;
  & div {
    height: 10px;
    width: 10px;
    background: #fbe0dc;
    border-radius: 10px;
    cursor: pointer;
  }
}
