.image-item {
  position: relative;
  width: 100%;
  height: 100%;
  &:hover {
    .favourite {
      display: block;
    }
  }
  & img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  & .favourite {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 134, 142, 0.6);
    border-radius: 20px;
  }
  & .favourite-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
  }
  & .info-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 180px;
    height: 34px;
  }

}
