.image-list {
  display: grid;
  grid: repeat(3, minmax(auto, 140px)) / repeat(3, 200px);
  grid-auto-rows: minmax(auto, 140px);
  gap: 20px;
  img {
    display: block;
    width: 100%;
    height: 100%;
    max-height: 100%;
    border-radius: 20px;
    object-fit: cover;
    &:nth-child(10n+1) {
      grid-area: 2 span;
    }
    &:nth-child(10n+4) {
      grid-area: 2 span / 2 span;
    }
    &:nth-child(10n+8) {
      grid-area: 2 span;
    }
    &:nth-child(10n+9) {
      grid-area: 2 span / 2 span;
    }
  }
  &::-webkit-scrollbar {
    width: 20px;
  }
  &::-webkit-scrollbar-thumb {
    border: 6px solid transparent;
    border-radius: 200px;
    background-color: #F8F8F7;
    background-clip: content-box;
  }
}
