.loaderBox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 450px;
  font-size: 30px;
  padding: 1em;
  margin-bottom: 0.25em;
  transition: 0.3s color, 0.3s border, 0.3s transform, 0.3s opacity;
  color: #ff868e;
}
.loader {
  display: inline-block;
  width: 1em;
  height: 1em;
  color: inherit;
  vertical-align: middle;
  pointer-events: none;
}
.loader:before,
.loader:after,
.loader {
  border-radius: 50%;
  animation-fill-mode: both;
  animation: loader 1.8s infinite ease-in-out;
}
.loader {
  color: currentcolor;
  position: relative;
  transform: translateZ(0);
  animation-delay: -0.16s;
  top: -1em;
  &:before {
    right: 100%;
    animation-delay: -0.32s;
  }
  &:after {
    left: 100%;
  }
  &:before,
  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: inherit;
    height: inherit;
  }
}
@keyframes loader {
  0%,
  80%,
  100% {
    box-shadow: 0 1em 0 -1em;
  }
  40% {
    box-shadow: 0 1em 0 -0.2em;
  }
}
