.menu-item {
  height: 100%;
  .card {
    height: 198px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #b4b7ff;
    border: 4px solid rgba(255, 255, 255, 0.6);
  }
  .card-img {
    display: block;
  }
  .btn {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    height: 36px;
  }
}
